.container {
  width: 480px;
}

.container a {
  text-decoration: none;
}

.title {
  background: radial-gradient(182.71% 205.59% at 2.81% 7.69%, rgba(130, 71, 229, 0.2) 0%, rgba(167, 202, 255, 0.2) 100%);
  border-radius: 20px;
  color: #8247e5;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  display: flex;
  align-items: center;
}

.title:hover {
  opacity: 0.8;
  cursor: pointer;
}

.title span {
  margin-left: 8px;
}

.background-radial-gradient {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  transform: unset;
  z-index: -1;
  background: radial-gradient(100% 100% at 50% 0%, rgba(130, 71, 229, 0.2) 0%, rgba(200, 168, 255, 0.05) 52.6%, rgba(0, 0, 0, 0) 100%), rgb(255, 255, 255);
  /* background: radial-gradient(100% 100% at 50% 0%, rgba(130, 71, 229, 0.2) 0%, rgba(200, 168, 255, 0.05) 52.6%, rgba(0, 0, 0, 0) 100%), rgb(13, 14, 14); */
}