.header {
  height: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-wallet {
  display: flex;
  align-items: center;
}

.header-account {
  display: flex;
  align-items: center;
  border-radius: 32px;
  height: 36px;
  padding: 0 14px;
  margin-left: 8px;
  background-color: rgb(var(--base-buttonBackground));
}

.header-account-icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container a {
  text-decoration: none;
}

.card {
  width: 480px;
  padding: 10px 20px;
  background: var(--base-backgoundColor);
  border-radius: 16px;
  border: 1px solid rgb(var(--base-borderColor));
}

.list-title {
  color: rgb(var(--base-textSecondary));
  font-size: 12px;
  display: flex;
  margin-bottom: 10px;
}

.title {
  width: 480px;
  margin-top: 20px;
  background: radial-gradient(182.71% 205.59% at 2.81% 7.69%, rgba(130, 71, 229, 0.2) 0%, rgba(167, 202, 255, 0.2) 100%);
  border-radius: 20px;
  color: #8247e5;
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  display: flex;
  align-items: center;
}

.title:hover {
  opacity: 0.8;
  cursor: pointer;
}

.title span {
  margin-left: 8px;
}

.form-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.form-item span {
  margin-right: 8px;
}

.pair-content {
  font-size: 14px;
}

.pair-list {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.pair-list span {
  margin-left: 6px;
}

.background-radial-gradient {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  transform: unset;
  z-index: -1;
  background: radial-gradient(100% 100% at 50% 0%, rgba(130, 71, 229, 0.2) 0%, rgba(200, 168, 255, 0.05) 52.6%, rgba(0, 0, 0, 0) 100%), rgb(255, 255, 255);
  /* background: radial-gradient(100% 100% at 50% 0%, rgba(130, 71, 229, 0.2) 0%, rgba(200, 168, 255, 0.05) 52.6%, rgba(0, 0, 0, 0) 100%), rgb(13, 14, 14); */
}