:root {
  --base-backgoundColor: #ffffff;
  --base-textColor: 13, 17, 28;
  --base-textSecondary: 120, 130, 140;
  --base-borderColor: 210, 217, 238;
  --base-buttonBackground: 245, 246, 252;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  color: rgb(var(--base-textColor));
}